<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chosen Pokedex</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav class ="nav-show">
        <button class="button-show"><a href="/pokemon">Head Back to All Pokemon</a></button> 
        </nav>
       
        <h1 class="h1-show"><%=pokemon.name%></h1> 
        <div class="div-show">
            <img src="<%=pokemon.img%>">
            <br/>
            Defense: <%=pokemon.stats.defense%>
            <br />
            Attack: <%=pokemon.stats.attack %>
            <br/> 
            Type: <%=pokemon.type %>
            <br/>
            Health Points: <%=pokemon.stats.hp %>
            <br/>
            Speed Points: <%=pokemon.stats.speed %> 
        </div>
        <div class="button-show">
            <button><a href="/pokemon/edit">Edit This Pokemon</a></button>
            <button><a href="/pokemon">Delete This Pokemon</a></button>
            <button><a href="/pokemon/new">Add a New Pokemon</a></button>
        </div>   
    </body>
</html>